{% for block in section.blocks %}
  <div style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.text_color }}">
    <p>{{ block.settings.text }}</p>
  </div>
{% endfor %}


{% schema %}
  {
    "name": "announcement-bar",
    "max_blocks": 12,
    "settings": [
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Text left"
          }, {
            "value": "text-center",
            "label": "Text center"
          }, {
            "value": "text-right",
            "label": "Text right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "announcement-bar",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "Welcome to our store"
          }, {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#333"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#fff"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}